<title>Tinyapp</title>

<% if (!username){ %>
  <a href="/register">Register here!</a> |
  <a href="/login">Login</a>
<% } else { %>
   Logged in as <b><%= username %></b>
   <p><a href="/urls">My Links</a></p>
  <form method="POST" action="/logout">  	 
    <input type="submit" value="Logout">
  </form>
<% }%>