<!DOCTYPE html>
<html lang="en">
<head>
   <% include partials/_header %>
   <style>
      img.del{
        width: 15px;
      }
      .inline {
      	display:inline-block;
      }
   </style>
</head>

<body>
  <form class="inline" method="POST">     
    <h2>ShortURL: <%= shortURL %> </h2>
    <p>Change URL to:</p>
    <input type="text" name="newLink" value="<%= url %>">
    <input type="submit" value="Update">
  </form> 
  <form class="inline" method="POST" action="/urls/<%= shortURL %>/delete">
    <button><img class="del" src="http://cdn.osxdaily.com/wp-content/uploads/2010/07/512-TrashIcon-macosx1.png">Delete</button>
  </form>
</body>
</html>