<!DOCTYPE html>
<html lang="en">
<head>
   <% include partials/_header %>
</head>

<body>
  <form method="POST">     
    <h2>ShortURL: <%= shortURL %> </h2>
    <p>Change URL to:</p>
    <input type="text" name="newLink" value="<%= url %>">
    <input type="submit" value="Update">
  </form> 
</body>
</html>